.chats {
  padding: 20px 0;
}
.chats .chat__list {
  padding: 0;
  border-radius: 10px;
  background: #e5e8eb;
}

.chat__list .list-group-item {
  background: #e5e8eb;
  border: none;
  padding: 0.75rem 0.5rem;
}

.chat__list .list-group-item:hover {
  background: #6c757d;
  color: #fff;
}

.chat__list .active-item {
  background: #6c757d;
  color: #fff;
}

.chat__avatar{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.current__chat {
  background: #f8f9fa;
  border-radius: 10px;
}

.current__chat-prev {
  width: 100%;
}

.chat__window {
  min-height: 80vh;
  /*на маке глянуть */
  max-height: 80vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.chat__down-button {
  position: absolute;
  right: 0;
  top: 0;
}

.chat__up-button {
  position: absolute;
  right: 0;
  bottom: 0;
}

.chat__message {
  padding: 5px;
  margin: 5px;
  background: #e5e8eb;
  border-radius: 10px;
}

.chat__message-left {
  align-self: flex-start;
  text-align: left;
}

.chat__message-right {
  align-self: flex-end;
}

.chat__message-right .chat__user__info {
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  text-align: right;
}

.chat__message-left .chat__user__info {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  text-align: left;
}

.chat__info__container {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  justify-content: space-around;
}

.chat__user__nick {
  font-weight: bold;
  margin: 0;
  padding: 0;
  font-size: 2vh;
  text-transform: capitalize;
}

.chat__msg__date {
  margin: 0;
  padding: 0;
  opacity: 0.7;
  font-size: 1.5vh;
}

.chat__image {
  max-height: 25vh;
  width: auto;
  border-radius: 5px;
  margin: 5px auto;
  padding: 0;
  max-width: 100%;
}

.chat__message__text {
  text-align: inherit;
  font-size: 2vh;
  margin: 0;
}

.current__chat-hidden {
  display: none;
}

.message__wrapper {
  position: relative;
  padding: 10px 0;
}

.message__wrapper .message__wrapper-msg {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  padding-right: 130px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.message__wrapper .message__wrapper-btn {
  position: absolute;
  right: 0;
  top: 10px;
}

.message__wrapper-btn label {
  border-radius: 0.25rem 0 0 0.25rem;
  margin: 0;
}

.message__wrapper-btn button {
  border-radius: 0 0.25rem 0.25rem 0;
}

.image-prev-wrap {
  margin: 10px auto 0;
  position: relative;
  width: 300px;
  height: 300px;
}

.image-prev {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
/* .current__chat ::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.current__chat ::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

.current__chat ::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}

.current__chat ::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

.current__chat ::-webkit-scrollbar-thumb:active {
  background: #000000;
}

.current__chat ::-webkit-scrollbar-track {
  background: #364c2f;
  border: 0px none #ffffff;
  border-radius: 50px;
}

.current__chat ::-webkit-scrollbar-track:hover {
  background: #666666;
}

.current__chat ::-webkit-scrollbar-track:active {
  background: #333333;
}

.current__chat ::-webkit-scrollbar-corner {
  background: transparent;
} */
