.nickname {
    font-weight: bold;
    color: #5a6268;
}

.time {
    margin-left: auto;
    opacity: 0.5;
}

.message {
    font-style: italic;
    max-width: 200px;
    overflow: hidden;
}

.icon {
    color: rgba(0, 0, 0, 0.5);
}

.icon:hover {
    color: rgba(0, 0, 0, 0.7);
}

.nav-item .btn-group button {
    padding: 6px;
  }

.notification {
    /* display: none; */
    position: absolute;
    top: 10px;
    right: 5px;
    background: #ec0b0b;
    border-radius: 50%;
    width: 9px;
    height: 9px;
}